body {
  background-color: #00ff00;
  font-size: 15px;
  cursor: crosshair;
  font-family: 'Acme', sans-serif;
  user-select: none;
}

h1 {
  font-size: 300%;
  text-align: center;
}

#equipment {
  border: 1px solid black;
  height: 150px;
  margin: auto;
  margin-bottom: 20px;
  padding: 5px;
  background-color: white;
}

#current-block {
  width: 20%;
}

.villager {
  width: 15%
}

#current-pickaxe, #current-villager-pickaxe {
  width: 18%;
}

#enchanted-book {
  width: 30%;
}

#white {
  width: 35%;
}

h2, p, img {
  display: inline;
  vertical-align: middle;
}

.top {
  height: 80%;
  width: 25%;
  display: inline-block;
  vertical-align: top;
  margin: 5px 36px;
  padding: 10px
}

#left-top {
  width: 22%;
  margin-top: 10px;
}

#mid-top {
  width: 26%;
}

#right-top {
  width: 20%;
}

#center-block {
  width: 10%;
  margin: 10px 165px;
}

#center-block:active {
  transform: scale(0.95);
}

#center-block:hover {
  cursor: pointer;
}

#upgrades-outer, #info-outer {
  border: 1px solid black;
  width: 30%;
  height: 500px;
  padding: 10px;
  background-color: white;
}

#upgrades-outer {
  float: left
}

#info-outer {
  float: right;
}

h3 {
  font-size: 150%;
  text-indent: 10px;
}

.upgrades {
  border: 3px solid #33cc33;
  width: 93.25%;
  margin: 10px 5px;
  padding: 5px;
  border-radius: 20px;
}

.upgrades:hover {
  border: 3px solid #55ee55;
}

.upgrades:active {
  border: 3px solid #ff9900;
}

#next-pickaxe-img {
  width: 10%
}

#next-block-img {
  width: 15%
}

.info {
  border: 1px solid black;
}

#link-github {
  text-decoration: none;
  color: black;
}

#upgrade-bar-outer {
  height: 10px;
  width: 300px;
  border: 3px solid black;
  border-radius: 10px;
}

#upgrade-bar-inner {
  height: 10px;
  width: 60px;
  background-color: lightblue;
  border-radius: 10px;
}
